* {
    box-sizing: border-box;
}

#board>div {
    margin: 4px 4px 4px 4px;
    padding: 4px 4px 4px 4px;
    background-color: grey;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
}